// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.gform_wrapper {
  .gfield_label {
    color: #ccc;
    font-size: 17px;
    font-weight: 400;
  }

  .gfield_required {
    color: $green;
  }

  .ginput_container {
    margin-top: 0 !important;
  }

  input[type=text],
  textarea {
    border: 2px solid #545454;
    border-radius: 3px;
    background: #474747;
    color: #fff;
    padding: 3px;
    width: 90% !important;
  }

  .gfield_html {
    width: 90% !important;
  }

  .gform_footer input.button, .gform_footer input[type=submit], .gform_page_footer input.button, .gform_page_footer input[type=submit] {
    @extend .btn;
  }
}