// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Fonts
$sans-serif: 'Roboto', sans-serif;

$header-type: 'Barlow Condensed', sans-serif;
$body-type:   'Barlow Semi Condensed', sans-serif;

// Colors
$green:                 #00a76f;
$bg-dark:               #1c1c1c;
$bg-footer:             #242424;

$grey:                  #aeadad;
$fonzy:                 #aeaeae;
$med-grey:              #ccc;
$green-grey:            #333332;