.page-header {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url(../images/bg-header.jpg);
  background-size: cover;

  @include breakpoint(sm) {
    height: 450px;
    background-size: cover;
  }

  .page-title {
    position: absolute;
    top: 150px;
    color: #fff;
    top: 300;
    font-size: 65px;
    text-transform: uppercase;

    @include breakpoint(sm) {
      top: 250px;
    }
  }
}

.content-wrap {
  position: relative;
  background: #fdfdfd;
  z-index: 1;
  padding: 100px 0;

  &:before {
    display: block;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    top: 0;
    height: 400px;
    width: 100%;
    content: '';
  }

  &:after {
    display: block;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    bottom: 0;
    height: 400px;
    width: 100%;
    content: '';
  }

  h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #666;
  }


  .contact-us & {
    background: #242424;

    &:before {
      display: block;
      z-index: -1;
      position: absolute;
      background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%);
      top: 0;
      height: 400px;
      width: 100%;
      content: '';
    }

    &:after {
      display: block;
      z-index: -1;
      position: absolute;
      background: linear-gradient(to top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%);
      bottom: 0;
      height: 400px;
      width: 100%;
      content: '';
    }
  }
}

// News & Resources

.news-wrapper {
  padding: 100px 0;
}

.resource-blocks {

	.block {
		background-color: #fff;
		text-align: center;
		padding: 40px;
		margin-bottom: 15px;

		h2 {
			font-size: 45px;
		}

		span {
			display: block;
			margin-bottom: 20px;
			font-size: 18px;
			font-weight: 600;
			font-style: italic;
			color: #00a76f;
		}

		a.btn-grn,
		a.btn-gry {
			width: 100%;
			display: block;
			margin-bottom: 15px;
			padding: 15px 10px;
			color: #fff !important;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
		}
		a.btn-gry {
			background-color: #363636;
		}
		a.btn-gry:hover,
		a.btn-gry:focus {
			background-color: #00a76f;
		}
	}
}
.ig-feed {

	#sb_instagram {
		width: 100%;
		max-width: 1030px !important;
		margin: 0 auto !important;

		#sbi_images {
			padding: 0 !important;
		}

		.sbi_item {
			display: -ms-flexbox !important;
		    display: flex !important;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    margin-right: -15px !important;
		    margin-left: -15px !important;
		    padding:0 0 60px 0 !important;

		    .sbi_lightbox_carousel_icon {
			    display: none !important;
		    }

			.sbi_photo_wrap,
			.sbi_info {
				width: 50%;
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				position: relative;
			    min-height: 1px;
			    padding-right: 15px;
			    padding-left: 15px;
			}

			.sbi_photo {

				height: auto !important;
				max-width: 344px !important;
				margin-bottom: 60px !important;

				img {
					display: block !important;
					max-width: 436px !important;
					height: auto !important;
				}

			}

			.sbi_info {

				text-align: left;
				margin-bottom: 60px !important;

				p {
					text-align: left;
					color: #212529;
					font-size: 17px !important;
					line-height: 24px;

					.ig-title {
						display: block;
						color: #00a76f;
						font-size: 25px;
						text-transform: uppercase;
						font-style: italic;
						margin: 0 0 30px;
					}
				}
			}
		}

		.sbi_meta {
			margin-top: 20px;
		}

		.sbi_date {
			color: #aeadad;
			font-size: 17px;
		}

		#sbi_load {
			margin: 10px 0 50px;

			.sbi_load_btn {
				background: #00a76f !important;
				border-radius: 0 !important;
				padding: .5rem .75rem !important;
				font-size: 1rem !important;
				text-transform: uppercase;
			}
			.sbi_follow_btn a {
				background: #333 !important;
				border-radius: 0 !important;
				padding: .5rem .75rem;
				font-size: 1rem !important;
				text-transform: uppercase;
			}
		}
	}
}

.blog {

	.wrapper {
		background: #fdfdfd;
		background: linear-gradient(180deg,rgba(0,0,0,.15) 0,transparent);
	}
	.wrapper:before {
	    background: linear-gradient(180deg,rgba(0,0,0,.15) 0,transparent);
	    top: 0;
	}
	h2.feed-title {
		font-size: 50px;
		color: #666;
		margin: 60px 0;
	}
	.news-feed {
		max-width: 1000px;
		margin: 0 auto;
	}
	.content-wrap {
		background: transparent;
		padding: 30px 0;
	}
	.content-wrap:before {
		display: none;
	}

	.content-wrap:after,
	.content-wrap:before {
		display: none;
	}
	.content-wrap {

		.post-date {
			color: #aeadad;
			font-size: 17px;
		}
		.post-more {
			font-style: italic;
		}
		.post-media {
			max-width: 436px;
		}
		h2.entry-title {
			font-style: italic;
		}
		.entry-footer {
			margin-top: 40px;

			a {
				text-decoration: underline;
				display: inline-block;
				margin-right: 20px;
			}
		}
	}
	.content-wrap.resource-blocks {
		padding: 120px 0;
	}

}

// Contact Page

.contact-us {


  .contact-row {
    background: url(../images/contact-map.png) right 0 no-repeat;
  }
}

.applications .content-wrap {
  background: url(../images/bg-content-applications.png) 50% 170px no-repeat;
  background-size: cover;
}

.sustainability .content-wrap {
  background: url(../images/bg-content-sustain.png) 50% bottom no-repeat;
  padding-bottom: 260px;
}

// Home Page & Sections

.home-wrapper {
  position: relative;
  overflow: hidden;
  background: $green-grey;
  margin-bottom: -15px;
}

.home-section {
  position: relative;
  z-index: 2;
  padding: 50px 0 0 0;
  color: $grey;

  @include breakpoint(sm) {
    padding: 100px 0 0 0;
  }

  h2 {
    margin: 0 0 40px 0;
    padding-top: 50px;
    color: $med-grey;
    font-size: 50px;
    line-height: 50px;
    border-top: 2px solid rgba(255,255,255,.5);

    @include breakpoint(sm) {
      padding-top: 100px;
    }

    .subhead {
      font-size: 40px;
      line-height: 40px;
      color: $fonzy;
      font-weight: 300;
    }
  }

  a {
    color: $med-grey;
  }

  &.about {
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);

    @include breakpoint(sm) {
      padding-bottom: 0;
    }

    h2 {
      border-top: 0;
      padding-top: 0;
    }
  }

  &.endless-applications {

    ol {
      display: flex;
      flex-flow: row wrap;
    }
    ol li {
      font-size: 17px;
      margin-bottom: 15px;
      width: 50%;
      padding: 20px 20px 20px 0;

      @include breakpoint(sm) {
        width: 33%;
      }
    }

    ol { counter-reset: item; }
    ol > li {
      display: inline-block;
      position: relative;
      padding: 15px 15px 0 45px;
    }
    ol > li:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: counter(item) " ";
      counter-increment: item;
      color: $green;
      font-size: 60px;
      vertical-align: top;
      font-weight: 400;
    }
    ol > li a {
      color: $green;
      font-weight: 500;
    }

    .li-title {
      color: #fff;
      font-size: 17px;
      font-weight: 500;
    }
  }

  &.product-spotlight {

    h2 {
      @include breakpoint(sm) {
        /* margin-top: 220px; */
        margin-top: 50px;
      }

    }
  }

  &.sustainability {
    padding-bottom: 50px;

    @include breakpoint(sm) {
      padding-bottom: 100px;
    }
  }

  .container {
    padding: 0 5%;
  }

  .sbi_info {
	  display: none;
  }
}

.bg-map {
  position: absolute;
  top: 290px;
  z-index: 1;
  width: 100%;
  height: 567px;

  @include breakpoint(sm) {
    background: url(../images/bg-map.png) 50% 0 no-repeat;
  }
}

.bg-stadium {
  position: absolute;
  top: 1860px;
  z-index: 1;
  width: 100%;
  height: 865px;
  @include breakpoint(sm) {
    background: url(../images/bg-stadium.png) 50% 0 no-repeat;
    background-size: cover;
  }
}

// Additional CSS + WBM :: 12.10.18

/* Video Section */
.home-section.hp-videos {
	padding-top: 20px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/* padding-top: 35px; */
	/* height: 0; */
	overflow: hidden;
}
.video-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.video-current {
	margin-bottom: 20px;
}
.vid-thumb .video-container {
	cursor: pointer;
}
.vid-thumb iframe {
	z-index: -1;
}

/* About - Map Section */
#about {

	> .container > .row {
		min-height: 600px;
	}
	.lead.green-txt {
		position: relative;
		z-index: 2;
	}
	.ep-map {
		position: absolute;
		z-index: 1;
	    left: -281px;
		top: 114px;
	}
	@include breakpoint(md) {
		.ep-map img {
			max-width: none !important;
			width: 759px !important;
			height: 470px !important;
		}
		.ep-map .dot {
			position: absolute;
			display: block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #00a76f;
			/* background-color: #ff0000; */
			cursor: pointer;
		}
	}
}
.home {
	.tooltip > .tooltip-inner {
		background-color: #00a76f;
		white-space: pre-wrap;
		text-align: left;
		font-size: 12px;
		line-height: 1.3em;
		border-radius: 0;
		max-width: 250px !important;
		padding: 3px 25px 3px 8px;
	}
	.tooltip > .tooltip-inner::first-line {
		font-weight: 700;
		text-transform: uppercase;
	}
	.tooltip > .tooltip-arrow {
		border-bottom-color:#00a76f;
	}
	.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
	    border-bottom-color: #00a76f !important;
	}
	.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
	    border-top-color: #00a76f !important;
	}
	.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
	    border-left-color: #00a76f !important;
	}
	.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
	    border-right-color: #00a76f !important;
	}
}

// CTA Green

.bottom-contact {
  color: #fff;
  padding: 50px;

  h2 {
    color: #fff;
    border: 0;
  }
  background: url(../images/bg-cta-green.jpg) 50% 0 no-repeat;
  background-size: cover;

  .contact-us & {
    display: none;
  }
}

// Home Slider

.home-slides {
  background: #000;
  color: #fff;
  padding: 0;
  margin-bottom: 0 !important;
}

.home-slide {
  width: 100%;
  height: 400px;
  padding: 90px;
  background-size: cover;
  background-position: 50% 0;
  position: relative;


  @include breakpoint(sm) {
    height: 800px;
  }

  .content {
    position: relative;
    width: 100%;
    top: 20px;
    text-align: center;

    @include breakpoint(sm) {
      top: 250px;
    }
  }
  .slick-dotted.slick-slider {
    margin: 0;
  }

  h2 {
    font-size: 34px;

    @include breakpoint(sm) {
      font-size: 65px;
    }
  }
}

.slick-dots {
    bottom: 20px;

    @include breakpoint(md) {
      bottom: 280px;
    }
  }
  .slick-dots li button:before {
    color: #fff !important;
    opacity: .5 !important;
    font-size: 10px;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1 !important;
  }

  // Application Slider
  .application-slide {

	  span {
		  position: absolute;
		  display: block;
		  left: 0;
		  bottom: 0;
		  background-color: #00a76f;
		  color: #fff;
		  padding: 5px 10px;
		  font-weight: 700;
	  }

	}

  // QA Slider
  .qa-slides {
	  background-color: rgba(0,0,0,.25);

	  .next,
	  .prev {
	    position: absolute;
	    top: 50%;
	    display: block;
	    width: 32px;
	    height: 32px;
	    padding: 0;
	    -webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    cursor: pointer;
	    color: transparent;
	    border: none;
	    outline: none;
	    background: rgba(0,0,0,.6);
	    padding: 5px;
	    color: #FFF;
	  }
	  .next {
		  right: 0;
	  }
	  .prev {
		  left: 0;
	  }
	  .next img,
	  .prev img {
		  display: block;
		  margin: 0 auto;
	  }

  }
  .qa-slide {

	  padding: 40px 80px;

	  .col-md-6:first-child {
		  border: none;
		  padding-right: 15px;

		  @include breakpoint(sm) {
			  border-right: 2px solid #666;
			  padding-right: 10px;
			  padding-left: 15px;
		  }

	  }
	  .col-md-6 {
		  padding-left: 15px;

		  @include breakpoint(sm) {
		    padding-left: 60px;
		  }

	  }
	  p strong {
		  color: #fff;
	  }
	  h3 {
		  font-size: 30px;
		  color: #FFF;
	  }
	  .lead {
		  line-height: 30px;
	  }
	  .credit {
		  margin-top: 30px;
	  }


  }

// Team
h2.team-title {
	font-size: 50px;
	margin: 40px 0;
}
.team-flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	// Modals
	.modal-dialog {
	    max-width: 1000px;
	    margin: 120px auto 30px;
	}
	.modal-content {
		color: #fff;
		background-color: #363636;
		padding: 40px;
		border: none;
		color: #aeaeae;

		a.modal-close {
			position: absolute;
		    right: 21px;
		    top: 7px;
		    font-size: 24px;
		    color: #fff;
		}

		.modal-social {
			text-align: right;
		}
		.modal-social a {
			display: inline-block;
			font-size: 24px;
			margin-right: 10px;
		}
		.modal-bio {
			margin-tio: 30px;
			font-weight: 600;
		}

		h3 {
			font-size: 25px;
			text-transform: uppercase;
			color: #FFF;
			margin-bottom: 5px;
		}
		h4 {
			font-size: 17px;
			font-style: italic;
		}
	}
}
.modal-backdrop {
	display: none;
}
.team-flex__member {
    -ms-flex: 0 0 248px;
    flex: 0 0 248px;
    max-width: 248px;
}
.team-flex__member {
    position: relative;
    cursor: pointer;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.team-flex__member {
    -ms-flex: 0 0 248px;
    flex: 0 0 248px;
    max-width: 248px;
    margin: 0 10px 10px 0;

    img {
	    display: block;
	    overflow: hidden;
	}
	p {
	    display: none;
	}
	a {
		color: #FFF;
	}
}
.team-flex__deets {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,167,111,.7);
    font-size: 16px;
    opacity: 0;
    transition: opacity .25s;
    padding: 0 10px;
}
.team-flex__deets:hover {
    opacity: 1;
}
.team-flex__deets h5 {
    margin-top: 100px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
.team-flex__deets h6 {
    color: #fff;
    font-style: italic;
}
.team-flex__links {
	margin-top: 40px;

	a {
		color: #FFF;
	}
}

/* Media Queries */
@media(max-width:768px) {
	#about .ep-map {
		display: none;
	}
	.video-current {
		display: none;
	}
	.vid-thumb {
		margin-bottom: 15px;
	}
	.vid-thumb iframe {
	    z-index: 1;
	}
	.team-flex__member {
		margin: 10px auto;
	}
	.team-flex__deets {
		opacity: 1;
	}
	.team-flex .modal-content .modal-social {
		text-align: left;
		margin-bottom: 15px;
	}
}


